{%- macro format_group(name) -%}
{%- for repo in groups[name] | sort(attribute="name") -%}
{{ "* " -}}
{%- filter indent(2, first=False) -%}
{%- if repo.stargazers_count > 0 -%}
  {%- set stargazers_image_src =
    "https://img.shields.io/github/stars/" ~ repo.full_name ~ "?" ~
    "style=flat&logo=github&label=%E2%AD%90"
  -%}
  <a href="{{ repo.html_url | escape }}"><img alt="GitHub star count" src="{{ stargazers_image_src | escape }}" align="right" /></a>
  {{- "\n" -}}
{%- endif -%}
[`{{ repo.name }}`]({{ repo.html_url }})
{%- if repo.description -%}
  {%- filter wordwrap(break_long_words=False) -%}
    {{- ":\n" ~ repo.description.rstrip(".") -}}.
  {%- endfilter -%}
{%- endif %}
{%- endfilter %}
{% endfor -%}
{%- endmacro -%}

## Monitoring

{{ format_group("monitoring") }}

## Paperless-ngx

Tools for working with [Paperless-ngx](https://docs.paperless-ngx.com/).

{{ format_group("paperless") }}

## CLI

[Command line](https://en.wikipedia.org/wiki/Command-line_interface) programs.

{{ format_group("cli") }}

## Go

Libraries and programs written in and/or for the
[Go programming language](https://go.dev/).

{{ format_group("golang") }}

{#- vim: set sw=2 sts=2 et : -#}
